<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input [(ngModel)]='firstName' type="text" name="first" class="form-control" id="firstName"  placeholder="Enter First Name">
            <small id="firstName" class="form-text text-muted">Enter your First Name</small>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input  [(ngModel)]='lastName' type="text" name="last" class="form-control" id="lastName"  placeholder="Enter Last Name">
            <small id="lastName" class="form-text text-muted">Enter your Last Name</small>
        </div>
        <button type="submit" class="btn btn-primary " (click)="saveRegistration()">Submit</button>
    </form>
</div>