<div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Posts Details</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        </nav><br>
    <div class="jumbotron" *ngFor="let post of posts">
        
        <h4 class="text-warning">Post Id: {{post.id}}</h4>
        <h4 class="text-danger">Post Title: {{post.title}}</h4>
        <h4 class="text-default">Author Id: {{post.author.id}}</h4>
        <h4 class="text-primary">Author FirstName: {{post.author.firstName}}</h4>
        <h4 class="text-primary">Author LastName: {{post.author.lastName}}</h4>
        
        <authorm [postId]="post.id"
        [votes]="post.votes"></authorm>
        <button class="btn btn-outline-dark" >{{post.votes}}</button>
    </div>
</div>